#chooseTopic {
    
}

.jumbotron {
    text-align: center;
}

body {
    background-image: url("../images/just-waves.png");
}

#topics-input {
    margin: 0px 0px 15px 0px;
}

#topics-label {
    font-size: 30px;
}

.topicButton {
    font-size: 20px;
    margin: 4px 0px 4px 0px;
}
